In [16]:
import numpy as np
import pandas as pd
import seaborn as sns
import statsmodels.api as sm

# 1) write a function "prime" which will give output like the following.

In [28]:
prime=lambda a:"prime"  if len([i for i in range(2,a) if a%i==0])==0 else "not_prime"

In [29]:
prime(23)

'prime'

In [30]:
prime(20)

'not_prime'

In [91]:
prime(23)

'prime'

In [92]:
prime(20)

'not_prime'

# 2) do the same exercise using  lambda function if you have solved it without using lambda function

In [93]:
prime(23)

'prime'

In [94]:
prime(20)

'not_prime'

# 3)

# If a word, phrase, or sequence that reads the same backwards as forward  then we call it a palindrome. for example "abba" and "abcba" are palindromes

# write a function that will detect palindromes like the function

In [104]:
palindrome("abba")

'palindrome'

In [105]:
palindrome("abcba")

'palindrome'

In [108]:
palindrome("abcbav")

'not_palindrome'

# 4) do the same above exercise using lambda function if you have solved it without using lambda function

In [34]:
palindrome=lambda x:"palinrome" if(x==x[::-1]) else "not_palindrome"

In [35]:
x="abba"

In [36]:
x[::-1]

'abba'

In [37]:
palindrome("abba")

'palinrome'

In [38]:
palindrome("abcba")

'palinrome'

In [39]:
palindrome("abcbav")

'not_palindrome'

# 5)

# LCM: the smallest number that is a multiple of each of two  numbers

# implement LCM using lambda function

In [65]:
LCM=lambda a,b:(a*b)/max([i for i in range(1,max(a,b)) if i%a==0 & i%b==0])

In [66]:
LCM(10,15)

15.0

In [67]:
LCM(10,12)

12.0

In [156]:
LCM(10,13)

130.0

# 6)

In [111]:
iris = sns.load_dataset("iris")

In [112]:
iris.sample(10)

     sepal_length  sepal_width  petal_length  petal_width     species
139           6.9          3.1           5.4          2.1   virginica
29            4.7          3.2           1.6          0.2      setosa
118           7.7          2.6           6.9          2.3   virginica
33            5.5          4.2           1.4          0.2      setosa
52            6.9          3.1           4.9          1.5  versicolor
117           7.7          3.8           6.7          2.2   virginica
111           6.4          2.7           5.3          1.9   virginica
3             4.6          3.1           1.5          0.2      setosa
70            5.9          3.2           4.8          1.8  versicolor
133           6.3          2.8           5.1          1.5   virginica

In [98]:
l=[]
for i in iris.species:
    if i=="setosa":
         l.append(1)
    else:
         l.append(0)

In [99]:
list(l)

[1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0]

In [100]:
iris["setosa"]=l

In [103]:
l1=[]
for i in iris.species:
    if i=="versicolor":
         l1.append(1)
    else:
         l1.append(0)

In [105]:
iris["versicolor"]=l1

In [106]:
l2=[]
for i in iris.species:
    if i=="virginica":
         l2.append(1)
    else:
         l2.append(0)

In [107]:
iris["virginica"]=l2

In [108]:
iris.head()

,sepal_length,sepal_width,petal_length,petal_width,species,new_col,setosa,versicolor,virginica
0,5.1,3.5,1.4,0.2,setosa,setosa,1,0,0
1,4.9,3.0,1.4,0.2,setosa,setosa,1,0,0
2,4.7,3.2,1.3,0.2,setosa,setosa,1,0,0
3,4.6,3.1,1.5,0.2,setosa,setosa,1,0,0
4,5.0,3.6,1.4,0.2,setosa,setosa,1,0,0

# make some transformation so that our data looks like the following

In [110]:
iris.sample(10)

,sepal_length,sepal_width,petal_length,petal_width,species,new_col,setosa,versicolor,virginica
142,5.8,2.7,5.1,1.9,virginica,setosa,0,0,1
113,5.7,2.5,5.0,2.0,virginica,setosa,0,0,1
71,6.1,2.8,4.0,1.3,versicolor,setosa,0,1,0
32,5.2,4.1,1.5,0.1,setosa,setosa,1,0,0
25,5.0,3.0,1.6,0.2,setosa,setosa,1,0,0
7,5.0,3.4,1.5,0.2,setosa,setosa,1,0,0
41,4.5,2.3,1.3,0.3,setosa,setosa,1,0,0
89,5.5,2.5,4.0,1.3,versicolor,setosa,0,1,0
18,5.7,3.8,1.7,0.3,setosa,setosa,1,0,0
101,5.8,2.7,5.1,1.9,virginica,setosa,0,0,1

# 7) regression analysis

#

In [123]:
data=pd.read_csv["exam_prime_csv"]

TypeError: 'function' object is not subscriptable

In [122]:
data.head()

NameError: name 'data' is not defined

NameError: name 'data' is not defined